.blck {display:inline}
.img_holder {height:280px;width:20%;overflow:hidden;border-radius:50em;border:10px solid #fff;background:#000;float:left;margin:20px;
             box-shadow: -1px 4px 11px 6px #0000008c;}
.ralign {float:right}
.body_pager {background:#0bacf97d;padding:20px;margin:10px;margin-top:-10px;width:auto}
.content {color:#fff;font-size:20px;float:righ;margin-right:10px;margin:10px;padding:20px}
.cntnt_list {color:#fff;padding:20px;margin-left:50px;font-family: 'Kristen ITC';
                font-size: 30px;}
.txt {font-size:20px}
.cntnt_list li a{color:#fff}
.cntnt_list li a:hover{color:#0bacf9}
.cntnt_list li:hover a {color:#0bacf9}
.cntnt_list li {position:relative;padding:20px;margin-right:20px;transition:all 0.4s;cursor:pointer}
.cntnt_list li:hover {background:#fff;color:#0bacf9;border-top-left-radius:50px;border-bottom-right-radius:50px}
.txt b {color:#000}
.top_navig {height:30px;width:30px;overflow:hidden;border-radius:50em;background:#fff;color:#0bacf9;font-weight:bold;margin:20px;
             padding:20px;font-size:40px;text-align:center;transition:all 0.5s;
            margin-top:-30px;cursor:pointer}
.top_navig:hover {transform:scale(1.2);opacity:0.9;box-shadow: -1px 4px 11px 6px #0000008c;}