* {
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-family: 'os';
    position: relative;
    min-width: 320px !important;
}

a {
    color:#fff;
    text-decoration: none;
}

@font-face {
    font-family:os;
    src: url("./OpenSans.ttf");
}
@font-face {
    font-family:pop;
    src: url("./PoppinsBold.ttf");
}
@font-face {
    font-family:popm;
    src: url("./PoppinsMedium.ttf");
}
@font-face {
    font-family:rb;
    src: url("./Roboto.ttf");
}


.main_container {
    height:100%;
    transition: all 0.5s;
}

.sec_com {
    width:100%;
    background:#fff;
    position: relative;
    padding-bottom:100px;
}

.sec_1 {
    height:100%;
    background:url('./bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    position: fixed;
    top:0px;
    left: 0;
    background:transparent;
    color:#fff;
    padding:20px;
    overflow:hidden;
    transition: all 0.4s ease;
    z-index: 100;
}
.header_cont {
    margin: auto;
    max-width: 1200px;
    user-select: none;
}

.header_part {
    display: inline;
}

.header_logo {
    font-family: 'rb';
    font-size:30px;
    text-transform: uppercase;
    font-weight: bold;
}

.header_menu_cont {
    float:right;
}

.nav_bar {
    margin: 0;
    margin-top:8px;
    list-style: none;
}

.nav-bar-o {margin-bottom: 0 !important;
            min-height: auto !important;
}
.nav_bar li {display: inline !important;}

.nav_bar li a {display:inline !important;
    padding:0px !important;
}

li.active>a.h_menu_list::before {
    transform: scale3d(1,1,1);
    opacity:1;
}

.nav_bar li a:hover {background:transparent !important;}

.list_special::before {
    display: none !important;
}

.h_menu_list {
    user-select:none !important;
    color: #fff !important;
    cursor: pointer;
    position: relative;
    font-size:14px;
    text-transform: uppercase;
    margin:0px 18px;
}

.h_menu_list::before {
    content: '';
    background: #fff;
    width:100%;
    height: 3px;
    position: absolute;
    bottom:-5px;
    transform: scale3d(0.1,1,0.1);
    opacity:0;
    transition: all 0.5s ease;
}

.h_menu_list:hover::before {
    transform: scale3d(1,1,1);
    opacity:1;
}

.h_menu_icon {
    display: none;
    cursor: pointer;
    position: relative;
    margin-top:-7px;
}

.h_menu_icon:hover .h_menu_bar  {
    background: #42d9e4;
}

.h_menu_bar {
    display: block;
    width:25px;
    height:3px;
    margin-top:5px;
    background: #fff;
    transition:all 0.5s ease;
}

.home_cont {
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0.7);
}

.intro_card_cont {
    right:200px;
    position: absolute;
    padding:10px;
    top:50vh;
    margin-top: -130px;
    user-select: none;
}

.card_name {
    color:#fff;
    text-shadow: 0px 0px 40px #000;
    font-family: 'rb';
    text-transform: uppercase;
    font-size:70px;
    text-align:right;
}

.card_desc{
    float: right;
    font-style: italic;
    font-weight: bold;
    color:#42d9e4;
}
.sec_cover {
    max-width:1200px;
    margin: auto;
    text-align: center;
}
.sec_head {
    font-family: 'rb';
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline;
    user-select: none;
}
.sec_head::before {
    content: '';
    width:25px;
    height: 3px;
    bottom:-7px;
    width:100%;
    background: #42d9e4;
    position: absolute;
    transform: scale3d(0.3,1,0.3);
}

.sec_2 {
    background: #42d9e4;
    padding-top:100px;
    height:auto;
    color:#fff;
}

.sec_2 .sec_head::before {
    background: #fff;
}


.sec_3,.sec_4,.sec_5,.sec_6 {
    padding-top:100px;
}

.sec_3,.sec_5 {
    color:#000;
}

.sec_4,.sec_6 {
    color:#fff;
}

.sec_4 {
    padding-top: 0;
    background: url('./projects.jpg');
    background-size: cover;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 0px;
    height:auto;
}

.pr_cover {
    padding-top: 100px;
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    padding-bottom: 100px;
}

.sec_5 {
    padding-bottom:100px;
}

.sec_6 {
    background: #1a1a1a;
    padding-bottom:50px;
}

.headdesc {
    color:grey;
    font-size:16px;
    margin-top:40px;
}

.sk_img_cont {
    width:100%;
    margin-top:-50px;
}

.row_ {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 20%;
    max-width: 20%;
    margin-top:100px;
    transition: all 0.5s ease;
}

.column:hover {
    opacity: 0.7;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.coming {
    max-width: 1200px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color:#fff;
    margin-top:100px;
}
.column_1 {
    flex: 50%;
    max-width: 50%;
    text-align: center;
    overflow:hidden;
}

.download_res_cont {
    margin-top:80px;
    vertical-align: middle;
    max-width:400px;
    font-size:18px;
    color:#979797;
}

.btn_ {
    outline: none;
    text-align: center;
    font-size: 15px;
    padding: 2rem 10rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'os';
    z-index: 1;
    border: 2px solid transparent;
    background: #42d9e4;
    color: #fff;
    transition: all 0.5s ease;
}

.btn_:hover {
    background: #fff;
    color: #42d9e4;
    border-color: #42d9e4;
}

.rs_cont {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    padding:10px;
}

.contact_cover {
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
.contact_desc {
    font-size:15px;
    margin-top: 50px;
    text-align: center;
    color: rgba(255,255,255,0.25);
}

.footer_social {
    text-align: center;
}

.footer_social a {
    width: 48px;
    height: 48px;
    line-height: 44px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    margin: 0 3px;
}
.footer_social a:hover {
    color:#42d9e4;
}
.copyright {
    color: #888;
    font-size: 12px;
}

.btp {
    cursor:pointer;
    color:#fff;
    background:#000;
    height:40px;
    width:40px;
    border-radius: 50%;
    position: fixed;
    z-index:100;
    right:20px;
    bottom:20px;
    transition: all 0.5s ease;
    opacity:0;
    z-index: 100;
}

.btp:hover {
    animation: grow 0.3s ease;
}

.sidebar_cover {
    top:0;
    left:0;
    position: fixed;
    display: none;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index:100;
}

.sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    position: fixed;
    top:0;
    width:0px;
    height:100%;
    right:0;
    z-index: 110;
    transition: all 0.4s ease;
    color:#000 !important;
}

.sidebar_cont ul {
    margin-top:20px;
}

.sidebar_cont ul li {
    margin-top:40px;
    margin-bottom:40px;
    display: table;
    color: #000 !important;
}

.sidebar_cont .h_menu_list {
    display: table;
    color:#000 !important;
}

.sidebar_cont .h_menu_list::before {
    background:#42d9e4 !important;
}

.sidebar_cont ul li.active>a.h_menu_list{
    color:#42d9e4 !important;
}

.sidebar_cont .nav_bar_side li a:hover {background:transparent !important;}

.sidebar_cont .nav_bar_side li a {
    padding:0px !important;
}

.close_sidebar {
    display: table;
    font-size:35px;
    margin-left:15px;
    margin-top:4px;
    transition: all 0.5s;
    cursor: pointer;
}

.close_sidebar:hover {
    transform: rotate(360deg);
    color:#42d9e4;
}

.sidebar_cont {
    margin-left:15px;
    width:100%;
    margin-top:40px;
}

.fa-angle-double-up::before {
    position: absolute;
    font-size: 20px;
    left:50% !important;
    top:50%  !important;
    margin-top:-10px;
    margin-left:-6px;
}

.pageloader {
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    z-index:1000;
}
.pageloader img {
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-160px;
    margin-top:-120px;
    z-index:1100;
}

svg {
    position: absolute;
    top:0;
    left:0;
    pointer-events: none;
    z-index:1050px;
}

svg path {
    fill:#fff;
}

.sec_3 img, #resume_image, #resume_content, 
 #social_1, #social_2, #social_3, #social_4 {
    visibility:hidden;
}

#resume_content{
    position: relative;
}

.footer-link {
 text-decoration: none !important;
 color: #42d9e4 !important;
}

.about_body {
    padding-top:60px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    font-size:17px;
    user-select: none;
}

p {
    padding:10px;
}
.spec_a {
    color:#fff !important;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.project_title_cont {
    margin-top:10px;
}
.col {
    flex: 33%;
    max-width: 33%;
    margin-top:30px;
    transition: all 0.5s ease;
    margin-left: auto;
    margin-right: auto;
}

.project_wrapper {
    background: #fff;
    margin:0px 20px;
    color:#000;
    overflow:hidden;
    box-shadow: 0px 0px 4px 3px rgba(207, 205, 205, 0.72);
    cursor:pointer;
}

.container_ {
    position: relative;
    max-width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: 200px;
}

.overlay {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9); /* Black see-through */
    color: #f1f1f1; 
    width: 0%;
    height: 100%;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    padding: 0px;
    text-align: center;
    overflow:hidden;
}


.container_:hover .overlay {
    width:100%;
    padding: 20px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.proj_but {
    display: inline;
    position: relative;
    text-align: center;
    border:2px solid #42d9e4;
    color: #fff;
    padding:6px 20px;
    border-radius: 20px;
    font-size:14px;
    top:15px;
    transition: all 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.proj_but:hover {
    background: #42d9e4;
    color: #000;
    text-decoration: none !important;
}

@keyframes show_left {
    from {
        margin-left:-500px;
        opacity:0;
     }
     to {
         margin-left:0px;
         opacity:1;
     }
}

@keyframes show_right {
    from {
        margin-right:-500px;
        opacity:0;
     }
     to {
         margin-right:0px;
         opacity:1;
     }
}

@keyframes scale_up {
    from {
        transform: scale3d(0,0,0);
        opacity:0;
     }
     to {
        transform: scale3d(1,1,1);
         opacity:1;
     }
}

@keyframes grow_from_bottom {
    from {
       margin-top:100px;
       opacity:0;
    }
    to {
        margin-top:8px;
        opacity:1;
    }
}

@keyframes grow {
    from {
        box-shadow:0px 0px 0px 0px rgba(0,0,0,0.7);
    }
    to {
        box-shadow:0px 0px 15px 10px rgba(0,0,0,0.7);
    }
}

@media(max-width:1300px) {
    .intro_card_cont {
        right:50px;
    }
}

@media(max-width:1100px) {
    .column {
        flex: 25%;
        max-width: 25%;
    }
}

@media(max-width:950px) {
    .nav_bar {
        display: none;
    }
    .h_menu_icon {
        margin-top:-4px;
        display: block;
    }
    .header_logo {
        font-size:20px;
    }
    .card_name {
        font-size:60px;
    }
    .intro_card_cont {
        margin-top: -105px;
    }
}

@media(max-width:870px) {
    .column_1 {
        flex:100%;
        max-width:100%;
    }
    .column_1 img{
        width:300px !important;
    }
    .download_res_cont {
        margin-top:-20px;
    }
    .col {
        flex: 50%;
        max-width: 50%;
    }
}

@media(max-width:730px) {
    .column {
        flex: 33.3%;
        max-width: 33.3%;
    }
}

@media(max-width:650px) {
    .card_name {
        font-size:50px;
    }
    .intro_card_cont {
        margin-top: -91px;
    }
}

@media(max-width:615px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .col {
        flex: 70%;
        max-width: 70%;
    }
}

@media(max-width:530px) {
    .card_name {
        font-size:40px;
    }
    .intro_card_cont {
        margin-top: -77px;
    }
}

@media(max-width:510px){
    .col {
        flex: 95%;
        max-width: 95%;
    }
}

@media(max-width:420px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media(max-width:360px) {
    .card_name {
        font-size:30px;
    }
    .card_desc {
        margin-right: -20px;
        font-size: 12px;
    }
    .intro_card_cont {
        margin-top: -60.5px;
    }
}
