.body_container {height: 100%;position: relative;}
.div_head {font-size:3vw}
.img_holder {position: absolute;display:block;top:50px;}
.lalign {left:40px; !important}
.ralign {right:40px !important}
center {margin-left:-10px}
.body_pager {background:#0bacf97d;padding:20px;margin:10px;margin-top:-35px;width:auto}
.content {color:#fff;font-size:3vw;float:righ;margin-right:10px;padding:20px}
.cntnt_list {color:#fff;padding:20px;font-family: 'Kristen ITC';font-size: 2.5vw;}
.abt {margin-right:20vw}
.ed_leg {margin-left:150px}
.txt {font-size:1.5vw;line-height: 3.5vw;}
.cntnt_list li a{color:#fff}
.cntnt_list li a:hover{color:#0bacf9}
.cntnt_list li:hover a {color:#0bacf9}
.cntnt_list li {position:relative;padding:20px;margin-right:20px;transition:all 0.4s;cursor:pointer;display:inline-block;margin-top:10px}
.cntnt_list li:hover {background:#fff;color:#0bacf9;border-top-left-radius:50px;border-bottom-right-radius:50px;}
.txt b {color:#000}
.top_navig {height:80px;width:80px;overflow:hidden;border-radius:50em;margin:20px;transition:all 0.5s;
            margin-top:-40px;cursor:pointer;background:url("./top.jpg");background-position-x:-5px;background-position-y: -5px;}
.top_navig:hover {transform:scale(1.2);opacity:0.9;box-shadow: -1px 4px 11px 6px #0000008c;}
.top_ralign {float:right}
.top_lalign {float:left;margin-left:30px}
.edu li {color:#fff;font-family:'Kristen ITC';padding:10px;font-size:1.5vw;margin-top:20px;display:inline-block}
b {color:#fff;font-family:'Kristen ITc'}
ol li {display:block !important;text-align:right}
.skill li {color:#fff;font-family:'Kristen ITC';padding:10px;font-size:1.5vw;margin-top:20px;display:inline-grid}
@media (max-width: 520px) {
   .div_head {font-size:6vw}
   .cntnt_list {font-size:5vw;}
   .abt {margin-right:0vw}
   .ed_leg {margin-left:0px}
   .cntnt_list li {margin-top:10px;display:inherit}
   .txt {font-size:4vw;line-height:10vw;}
   .img_holder {display:none}
   .top_navig {height:70px;width:70px;
            margin-top:-40px;background:url("./top.jpg");background-position-x:-10px;background-position-y: -10px;}
   .edu li {font-size:4vw;}
   .skill li {font-size:4vw;}
}
